.Button{
	padding: 0.2em 0.4em;
	background: transparent;
	border-radius: 4px;
	border: 2px solid rgba(127,127,127,0.5);
	cursor: pointer;
}

.Button:hover{
	border: 2px solid rgba(127,127,127,0.8);
	cursor: pointer;
}

.Button:click{
	border: 2px solid rgba(127,127,127,1);
}

.Button.CaretakerGreenButton,
.Button.CaretakerPositiveButton
{
	border: 2px solid #97FF61;
}

.Button.CaretakerGreenButton:hover,
.Button.CaretakerPositiveButton:hover
{
	border: 2px solid #6AFF1C;
}

.Button.CaretakerGreenButton:click,
.Button.CaretakerPositiveButton:click
{
	border: 2px solid #329100;
}

.Button.CaretakerNegativeButton{
	border: 2px solid #D62D2D;
}

.Button.CaretakerNegativeButton:hover{
	border: 2px solid #BD0300;
}

.Button.CaretakerNegativeButton:click{
	border: 2px solid #690200;
}
