.CaretakerFormObjectCollectionControl{
	font-size: 0.7em;
}

.CaretakerFormObjectCollectionControl .CaretakerAddButton{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.CaretakerFormObjectContainer{
	position: relative;
}

.CaretakerFormObjectContainer > .CaretakerRemoveButton{
	font-size: 0.7em;
	top: 1rem;
	right: 1rem;
	position: absolute;
	z-index: 1;
}

.CaretakerFormObject,
.CaretakerFormActions{
	padding: 0.6rem;
	position: relative;
	background: white;
	z-index: 1;
}
.CaretakerFormObject,
.CaretakerFormActions{
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	border: none;
}

.CaretakerFormObject .CaretakerFormObject{
	box-shadow: none;
	border: 1px solid rgba(127,127,127,0.1);
}

.CaretakerFormActions{
	padding-top: 1.4rem;
}

.CaretakerFormObject>.CaretakerLabel{
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.CaretakerFormObject>.CaretakerDescription{
	margin: 0;
	margin-bottom: 0.2rem;
	font-size: 0.8em;
}
