.CaretakerFormObjectCollection > .CollectionControl{
	font-size: 0.7em;
}

.CaretakerFormObjectCollection > .CollectionControl .AddButton{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.CaretakerFormObjectCollection > .Objects > .ObjectContainer{
	position: relative;
}

.CaretakerFormObjectCollection > .Objects > .ObjectContainer > .Remove{
	font-size: 0.7em;
	top: 1rem;
	right: 1rem;
	float: right;
	position: relative;
	z-index: 5;
}

.CaretakerFormObject,
.CaretakerForm > .Actions{
	padding: 0.6rem;
	position: relative;
	background: white;
	z-index: 1;
}
.CaretakerFormObject,
.CaretakerForm > .Actions{
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.CaretakerFormObject,
.CaretakerForm > .Actions{
	border: 1px solid rgba(127,127,127,0.1);
}

.CaretakerFormObject .CaretakerFormObject{
	box-shadow: none;
}

.Actions{
	padding-top: 1.4rem;
}

.CaretakerFormObject > .Label,
.CaretakerFormObject > .Description,
.CaretakerFormObject > .ErrorMessage{
	margin-bottom: 0.2rem;
}

.CaretakerFormObject>.ErrorMessage{
	color: rgb(214,45,45);
	font-size: 0.7em;
}

.CaretakerFormObject>.Label{
	font-weight: bold;
}

.CaretakerFormObject>.Description{
	margin: 0;
	font-size: 0.8em;
}

.CaretakerFormObject.valid{
	border: 1px solid rgba(151,225,97,0.8);
}
.CaretakerFormObject.invalid{
	border: 1px solid rgba(214,45,45,0.4);
}
