.CaretakerButton{
	padding: 0.2em 0.4em;
	background: transparent;
	border-radius: 4px;
	border: 2px solid rgba(127,127,127,0.5);
	cursor: pointer;
}

.CaretakerButton:hover{
	border: 2px solid rgba(127,127,127,0.8);
	cursor: pointer;
}

.CaretakerButton:click{
	border: 2px solid rgba(127,127,127,1);
}

.CaretakerButton.CaretakerGreenButton,
.CaretakerButton.CaretakerPositiveButton
{
	border: 2px solid #97FF61;
}

.CaretakerButton.CaretakerGreenButton:hover,
.CaretakerButton.CaretakerPositiveButton:hover
{
	border: 2px solid #6AFF1C;
}

.CaretakerButton.CaretakerGreenButton:click,
.CaretakerButton.CaretakerPositiveButton:click
{
	border: 2px solid #329100;
}

.CaretakerButton.CaretakerNegativeButton{
	border: 2px solid #D62D2D;
}

.CaretakerButton.CaretakerNegativeButton:hover{
	border: 2px solid #BD0300;
}

.CaretakerButton.CaretakerNegativeButton:click{
	border: 2px solid #690200;
}
