.CaretakerInput input,
.CaretakerInput textarea,
.CaretakerInput .CaretakerFormInputTextareaHTML{
	width: 100%;
	padding: 0.3rem;
	padding-top: 0.4rem;
	border: 1px solid rgb(169, 169, 169);
}

.CaretakerInput .CaretakerFormInputTextareaHTML{
	position: relative;
}
