#CaretakerInterfaceWidget{
	position: fixed;
	top:-100px;
	width: 100%;
	height: 0;
	opacity: 0;
	transition: opacity 0.2s ease;
}
#CaretakerInterfaceWidget.active{
	top:0;
	height: 100%;
	opacity: 1;
	z-index: 10000000000;
	background: rgba(0,0,0,0.5);
}
